#main-navbar {
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: blue;
}

#navbar-container {
  float: left;
  position: relative;
  left: 50%;
}

#navbar-container ul {
  float: left;
  position: relative;
  right: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar-container li {
  float: left;
}

#navbar-container a {
  float: left;
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
}

#navbar-container a:hover {
  background-color: #000;
  display: block;
  float: left;
}

#onpage {
  text-decoration: underline overline;
  background-color: #000;
}